<div id='audit'>
  <div class='row'>
    <div class='col-12'>
      <div class='box scrape-status'>
        <h1>
          <%= @analysis.url %>
        </h1>

      </div>
    </div>
  </div>

  <div class='row datatable'>
    <div class='col-12'>
      <div class='box'>
        <table class='table table-striped'>
          <tr>
            <th>Type</th>
            <th class='fields'>Fields</th>
          </tr>

          <% @analysis.schema_types.all.each do |schema_type| %>
            <tr>
              <td>
                <strong><%= schema_type.name %></strong>
                <% if schema_type.schema.present? %>
                  <p>
                  <%= link_to("#{schema_type.schema.url}", schema_type.schema.url) %><br>
                    <%= schema_type.schema.comment.html_safe %>
                  </p>
                <% end %>
              </td>
              <td class='fields'>
                <div><%= CodeRay.scan(JSON.pretty_generate(schema_type.fields), :json).div.html_safe %></div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

