<div id='audit'>
  <div class='row'>
    <div class='col-12'>
      <div class='box scrape-status'>
        <h1>
          <span class='badge badge-purple'><%= @analysis.url %></span>
        </h1>
      </div>
    </div>
  </div>

  <div class='row datatable'>
    <div class='col-12'>
      <div class='box'>
        <h2>Json</h2>

        <table class='table table-striped'>
          <tr>
            <th class='types'>Type</th>
            <th class='fields'>Fields</th>
          </tr>

          <% @analysis.json_ld.all.each do |schema_type| %>
            <tr class='types'>
              <td>
                <strong><%= schema_type.name %></strong>
                <% if schema_type.schema.present? %>
                  <p>
                    <%= link_to("#{schema_type.schema.url}", schema_type.schema.url) %><br>
                    <%= schema_type.schema.comment.html_safe %>
                  </p>
                <% end %>
              </td>
              <td class='fields'>
                <div>
                  <%= CodeRay.scan(JSON.pretty_generate(schema_type.fields), :json).div.html_safe %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class='row datatable'>
    <div class='col-12'>
      <div class='box'>
        <h2>Microdata</h2>

        <table class='table'>
          <tr>
            <th class='types'>Type</th>
            <th class='fields'>Fields</th>
          </tr>

          <% @analysis.microdata_grouped.each do |group| %>
            <tr class='types'>
              <td>
                <strong><%= group[0] %> <span class='badge badge-purple'><%= group[1].size %></span></strong>
                <% if group[1].first.schema.present? %>
                  <p>
                    <%= link_to("#{group[1].first.schema.url}", group[1].first.schema.url) %><br>
                    <%= group[1].first.schema.comment.html_safe %>
                  </p>
                <% end %>
              </td>

              <td class='fields'>
                <div class='code-sample'>
                  <%= CodeRay.scan(group[1].first.pretty_fields, :html).div.html_safe %>
                </div>

                <div class='field-data'>
                  <% group[1].each_with_index do |schema_type, i| %>
                    <% unless i == 0 %>
                      <div class='code-sample'>
                        <%= CodeRay.scan(schema_type.pretty_fields, :html).div.html_safe %>
                      </div>
                    <% end %>
                  <% end %>
                </div>

                <div class='toggle'>
                  <%= fa_icon('angle-double-down') %> View All
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

