<!DOCTYPE html>
<html>
  <head>
    <title>Analyze for Json/Microdata/RDFa Structured Data | Conifr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Questrial&display=swap', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class='wrapper'>
      <div class='main-content'>
        <%= render 'layouts/app_header' %>

        <div class='container-fluid'>
          <% flash.each do |type, msg| %>
            <div id='flash-message' class="alert alert-info center">
              <%= msg %>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
